@{
    Layout = "~/_SiteLayout.cshtml";
    Page.title = "居民疾病信息";

}
<script src="~/Scripts/bootstrap-table-zh-CN.js"></script>
<div class="main-content-inner">

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }</script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">主页</a>
            </li>
            <li class="active">居民疾病信息</li>
        </ul>
        <!-- /.breadcrumb -->
        <!-- <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div> -->
        <!-- /.nav-search -->
    </div>
    <div class="page-content">
        <!-- ace-settings-container -->
        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="ace-icon fa fa-cog bigger-130"></i>
            </div>
            <div class="ace-settings-box clearfix" id="ace-settings-box">
                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <div class="pull-left">
                            <select id="skin-colorpicker" class="hide">
                                <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                            </select>
                        </div>
                        <span>&nbsp; Choose Skin</span>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                        <label class="lbl" for="ace-settings-navbar">Fixed Navbar</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                        <label class="lbl" for="ace-settings-sidebar">Fixed Sidebar</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                        <label class="lbl" for="ace-settings-breadcrumbs">Fixed Breadcrumbs</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                        <label class="lbl" for="ace-settings-rtl">Right To Left (rtl)</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                        <label class="lbl" for="ace-settings-add-container">
                            Inside <b>.container</b>
                        </label>
                    </div>
                </div>
                <!-- /.pull-left -->
                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
                        <label class="lbl" for="ace-settings-hover">Submenu on Hover</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
                        <label class="lbl" for="ace-settings-compact">Compact Sidebar</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
                        <label class="lbl" for="ace-settings-highlight">Alt. Active Item</label>
                    </div>
                </div>
                <!-- /.pull-left -->
            </div>
            <!-- /.ace-settings-box -->
        </div>
        <!-- /.ace-settings-container -->
        <!--page-header-->
        <div class="page-header">
            <h1>
                居民疾病信息
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    视图 &amp; 数据统计
                </small>
            </h1>
        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-md-12">
                <!-- PAGE CONTENT BEGINS -->
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar">
                    <button id="PlatformDeleteBtn" class="btn btn-default">Delete</button>
                    <button id="PlatformAddBtn" class="btn btn-default" tabindex="-1" data-toggle="modal" data-target="#addModal">add</button>
                </div>
                <table id="DoctorManagementTable"></table>
            </div>
        </div>
    </div>
    <!-- /.page-content -->

</div>
<script>
    $(function () {
        var count = 0
        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger']

            if (index % 2 === 0) {
                count++
                if (count >= classes.length) {
                    count = 0
                }
                return {
                    classes: classes[count]
                }
            }
            return {}
        }

        $('#DoctorManagementTable').bootstrapTable({
            url: "GetResidentDiseaseInfos.ashx",
            pagination: true,
            pageSize: 4,
            sidePagination: 'server',
            pageList: [5, 10, 'ALL'],
            search: true,
            mobileResponsive: true,
            striped: true,
            rowStyle: rowStyle,
            showColumns: true,
            showRefresh: true,
            showToggle: true,
            showPaginationSwitch: true,
            clickToSelect: true,
            showExport: true,
            exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'doc', 'excel'],
            columns: [{
                field: 'Id',
                title: '居民内部编号',
                visible: false,//不可见，工具栏可见
                switchable: false,//都不见
                align: 'center'
            }, {
                field: 'HODA',
                title: '药物过敏史',
                align: 'center'
            }, {
                field: 'EH',
                title: '暴露史',
                align: 'center'
            }, {
                field: 'HBP',
                title: '高血压',
                align: 'center'
            }, {
                field: 'HBPTime',
                title: '高血压确诊时间',
                align: 'center'
            }, {
                field: 'GDM',
                title: '糖尿病',
                align: 'center'
            }, {
                field: 'GDMTime',
                title: '糖尿病确诊时间',
                align: 'center'
            }, {
                field: 'CH',
                title: '冠心病',
                align: 'center'
            }, {
                field: 'CHTime',
                title: '冠心病确诊时间',
                align: 'center'
            }, {
                field: 'COP',
                title: '慢性阻塞性肺疾病',
                align: 'center'
            }, {
                field: 'COPTime',
                title: '慢性阻塞性肺疾病确诊时间',
                align: 'center'
            }, {
                field: 'MTC',
                title: '恶性肿瘤',
                align: 'center'
            }, {
                field: 'MTCTime',
                title: '恶性肿瘤确诊时间',
                align: 'center'
            }, {
                field: 'Stroke',
                title: '脑卒中',
                align: 'center'
            }, {
                field: 'StrokeTime',
                title: '脑卒中确诊时间',
                align: 'center'
            }, {
                field: 'SMI',
                title: '重性精神',
                align: 'center'
            }, {
                field: 'SMITime',
                title: '重性精神疾病确诊时间',
                align: 'center'
            }, {
                field: 'TB',
                title: '结核病',
                align: 'center'
            }, {
                field: 'TBTime',
                title: '结核病确诊时间',
                align: 'center'
            }, {
                field: 'Hepatitis',
                title: '肝炎',
                align: 'center'
            }, {
                field: 'HepatitisTime',
                title: '肝炎确诊时间',
                align: 'center'
            }, {
                field: 'OLID',
                title: '其他法定传染病',
                align: 'center'
            }, {
                field: 'OLIDTime',
                title: '其他法定传染病确诊时间',
                align: 'center'
            }, {
                field: 'OD',
                title: '职业病',
                align: 'center'
            }, {
                field: 'ODTime',
                title: '职业病确诊时间',
                align: 'center'
            }, {
                field: 'Other',
                title: '其他',
                align: 'center'
            }, {
                field: 'OtherTime',
                title: '其他确诊时间',
                align: 'center'
            }, {
                field: 'HistoryOfFather',
                title: '父亲病史',
                align: 'center'
            }, {
                field: 'HistoryOfMother',
                title: '母亲病史',
                align: 'center'
            }, {
                field: 'HistoryOfBrothers',
                title: '兄弟姐妹病史',
                align: 'center'
            }, {
                field: 'HistoryOfChildren',
                title: '子女病史',
                align: 'center'
            }, {
                field: 'GeneticHistory',
                title: '遗传病史',
                align: 'center'
            }, {
                field: 'Disability',
                title: '残疾情况',
                align: 'center'
            }, {
                field: 'Remarks',
                title: '备注',
                align: 'center'
            }],

        })


    })
</script>