@{
    Layout = "~/_SiteLayout.cshtml";
}

<script src="../Scripts/jquery-1.10.2.js"></script>
<script src="../Scripts/bootstrap.js"></script>
<script src="../Scripts/bootstrap-table.js"></script>

<script src="../Scripts/bootstrap-table-zh-CN.js"></script>

<link rel="stylesheet" href="../Content/bootstrap-table.css">



<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }</script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">主页</a>
            </li>
            <li class="active">居民基本信息</li>
        </ul>
        <!-- /.breadcrumb -->
        <!-- 	<div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div> -->
        <!-- /.nav-search -->
    </div>

    <div class="page-content">
        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="ace-icon fa fa-cog bigger-130"></i>
            </div>
            <div class="ace-settings-box clearfix" id="ace-settings-box">
                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <div class="pull-left">
                            <select id="skin-colorpicker" class="hide">
                                <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                            </select>
                        </div>
                        <span>&nbsp; Choose Skin</span>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                        <label class="lbl" for="ace-settings-navbar">Fixed Navbar</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                        <label class="lbl" for="ace-settings-sidebar">Fixed Sidebar</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                        <label class="lbl" for="ace-settings-breadcrumbs">Fixed Breadcrumbs</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                        <label class="lbl" for="ace-settings-rtl">Right To Left (rtl)</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                        <label class="lbl" for="ace-settings-add-container">
                            Inside <b>.container</b>
                        </label>
                    </div>
                </div>
                <!-- /.pull-left -->
                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
                        <label class="lbl" for="ace-settings-hover">Submenu on Hover</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
                        <label class="lbl" for="ace-settings-compact">Compact Sidebar</label>
                    </div>
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
                        <label class="lbl" for="ace-settings-highlight">Alt. Active Item</label>
                    </div>
                </div>
                <!-- /.pull-left -->
            </div>
            <!-- /.ace-settings-box -->
        </div>

        <!-- /.ace-settings-container -->

        <div class="page-header">
            <h1>
                居民基本信息
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div>
        <!-- /.page-header -->

        <div class="row">
            <div class="col-md-12">
                <!-- PAGE CONTENT BEGINS -->
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div id="toolbar">
                    <button id="ResidentBasicManagementDeleteBtn" class="btn btn-default">Delete</button>
                    <button id="ResidentBasicManagementAddBtn" class="btn btn-default" tabindex="-1" data-toggle="modal" data-target="#addModal">add</button>
                </div>
                <table id="ResidentBasicManagementTable"></table>
            </div>
        </div>
    </div>
    <!-- /.page-content -->
</div>

<script>
    $(function () {
        var count = 0
        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger']

            if (index % 2 === 0) {
                count++
                if (count >= classes.length) {
                    count = 0
                }
                return {
                    classes: classes[count]
                }
            }
            return {}
        }
        var $deleteBtn = $('#ResidentBasicManagementDeleteBtn')
        var $addBtn = $('#ResidentBasicManagementAddBtn')
        var $table = $('#ResidentBasicManagementTable')
        $deleteBtn.click(function () {
            var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                console.log(row.id)
                return row.id
            })
            console.log('ids')
            console.log(ids)
            var idsObj = Object
            idsObj.ids = ids
            if (ids.length != 0) {
                $.ajax({
                    url: "{:U('PlatformManager/deleteManager')}",
                    type: 'post',
                    data: idsObj,
                    dataType: 'json'
                }).done(function (data, status, jqXHR) {
                    console.log(data)
                    if (data.state == 1) {
                        toastr.success(data.content + '  ' + 'Total Delete number:' + data.deleteNum)
                        $('#ResidentBasicManagementTable').bootstrapTable('refresh');
                    } else {
                        //data.state = 0
                        toastr.error(data.content)
                    }
                }).fail(function () {
                    toastr.error('Network Communication Failure')
                })

            }

            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            })
        })


        $table.bootstrapTable({
            url: 'ResidentBasicManagementTable.cshtml',
            pagination: true,
            pageSize: 4,
            sidePagination: 'server',
            pageList: [5, 10, 'ALL'],
            search: true,
            toolbar: '#toolbar',
            mobileResponsive: true,
            queryParamsType: "limit",//查询参数组织方式
            queryParams: function getParams(params) {
                console.log(params)
                return params;
            },
            striped: true,
            rowStyle: rowStyle,
            showColumns: true,
            showRefresh: true,
            showToggle: true,
            showPaginationSwitch: true,
            clickToSelect: true,
            showExport: true,
            exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'doc', 'excel'],
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: '{:U("PlatformManager/edit")}',
                    data: { strJson: row },
                    dataType: 'json'
                }).done(function (data, status, jqXHR) {
                    console.log(data)
                    if (data.state == 1) {
                        toastr.success(data.content)
                        $('#ResidentBasicManagementTable').bootstrapTable('refresh');
                    } else {
                        toastr.error(data.content)
                    }
                }).fail(function () {
                    toastr.error('Network Communication Failure')
                })
            },
            columns: [{
                field: 'state',
                checkbox: true,
            }, {
                field: 'Id',
                title: '自动编号',
                visible: false,//不可见，工具栏可见
                switchable: false,//都不见
                align: 'center'
            }, {
                field: 'ResidentId',
                title: '居民号',
                align: 'center'
            }, {
                field: 'Name',
                title: '姓名',
                editable: true,
                align: 'center'
            }, {
                field: 'IdNumber',
                title: '身份证号',
                editable: true,
                align: 'center'
            }, {
                field: 'Sex',
                title: '性别',
                editable: true,
                align: 'center'
            }, {
                field: 'Phone',
                title: '联系电话',
                editable: true,
                align: 'center'
            }, {
                field: 'DateOfBirth',
                title: '出生日期',
                editable: true,
                align: 'center'
            }, {
                field: 'Nation',
                title: '民族',
                editable: true,
                align: 'center'
            }, {
                field: 'ContactName',
                title: '联系人姓名',
                editable: true,
                align: 'center'
            }, {
                field: 'ContactPhone',
                title: '联系人电话',
                editable: true,
                align: 'center'
            }, {
                field: 'Education',
                title: '文化程度',
                editable: true,
                align: 'center'
            }, {
                field: 'BloodType',
                title: '血型',
                editable: true,
                align: 'center'
            }, {
                field: 'Professional',
                title: '职业',
                editable: true,
                align: 'center'
            }, {
                field: 'WorkUnits',
                title: '工作单位',
                editable: true,
                align: 'center'
            }, {
                field: 'Payment',
                title: '医疗费用支付方式',
                editable: true,
                align: 'center'
            }, {
                field: 'FamilyId',
                title: '家庭档案号',
                editable: true,
                align: 'center'
            }, {
                field: 'MaritalStatus',
                title: '婚姻状况',
                editable: true,
                align: 'center'
            }, {
                field: 'Children',
                title: '子女数',
                editable: true,
                align: 'center'
            }, {
                field: 'FathersName',
                title: '父亲姓名',
                editable: true,
                align: 'center'
            }, {
                field: 'MotherName',
                title: '母亲姓名',
                editable: true,
                align: 'center'
            }, {
                field: 'GuardiansName',
                title: '监护人姓名',
                editable: true,
                align: 'center'
            }, {
                field: 'GuardianPhone',
                title: '监护人电话',
                editable: true,
                align: 'center'
            }, {
                field: 'CrowdType',
                title: '人群类型',
                editable: true,
                align: 'center'
            }, {
                field: 'ResidentialType',
                title: '居住类型',
                editable: true,
                align: 'center'
            }, {
                field: 'PermanentType',
                title: '常住类型',
                editable: true,
                align: 'center'
            }, {
                field: 'Registered',
                title: '户籍所在地',
                editable: true,
                align: 'center'
            }, {
                field: 'RegisteredAddress',
                title: '户籍地址',
                editable: true,
                align: 'center'
            }, {
                field: 'Live',
                title: '现居住所在地',
                editable: true,
                align: 'center'
            }, {
                field: 'LiveAddress',
                title: '现居住地址',
                editable: true,
                align: 'center'
            }, {
                field: 'InputtingInstitutions',
                title: '建档机构',
                editable: true,
                align: 'center'
            }, {
                field: 'InputtingPerson',
                title: '建档人',
                editable: true,
                align: 'center'
            }, {
                field: 'InputtingTime',
                title: '建档时间',
                editable: true,
                align: 'center'
            }, {
                field: 'ResponsibleDoctor',
                title: '责任医生',
                editable: true,
                align: 'center'
            }, {
                field: 'ManagementStatus',
                title: '管理状态',
                editable: true,
                align: 'center'
            }, {
                field: 'EnableTime',
                title: '启用时间',
                editable: true,
                align: 'center'
            }, {
                field: 'FocusOn',
                title: '是否社会关注人群',
                editable: true,
                align: 'center'
            }, {
                field: 'RHNegative',
                title: 'RH阴性',
                editable: true,
                align: 'center'
            }, {
                field: 'Remarks',
                title: '备注',
                editable: true,
                align: 'center'
            }],
        })


    })
</script>
